In [3]:
import pandas as pd
from random import randint as rd

In [68]:
nameFrame = pd.read_csv('csv/targets.csv')
nameFrame = nameFrame.drop("Unnamed: 0", axis=1)
nameFrame

       Name   Target         Phone #  Eliminated? Eliminated by  Kills
0   Bridget  Melissa      3092214810        False           Nan      1
1     James        -      7325132460         True          Time      0
2     David        -    815-236-7287         True         Matas      1
3     Matas  Bridget      6303452298        False           Nan      1
4   Melissa        -      2243876508         True       Bridget      0
5     Maria        -    331-980-5854         True          Time      0
6    Braden        -  (630) 200-1330        False           Nan      1
7      Jose  Anna Z.     13126100280        False           Nan      1
8     Lucca        -      7082449244        False           Nan      1
9     Tyler        -    331-213-6547         True          Time      0
10  Derrick        -      7082087634         True         Lucca      0
11     Ryan        -      3312290458         True          Adam      0
12     Adam   Lauren      7735635413        False           Nan      2
13    Percy        -      9176357252         True        Braden      0
14  Arianna        -      8155402295         True          Adam      0
15   Lauren        -      3128353851         True          Time      0
16   Sandin        -    773-983-7037         True         David      0
17     Anna        -      3095334809         True          Time      0
18     Anna        -    312-825-3630         True          Time      0
19  Gerardo        -      7739790502         True        Ninawa      0
20  Patrick        -      2246889649         True          Time      0
21   Ninawa  Anna J.      6309306658        False           Nan      1

In [64]:
def generateTargets(nameFrame):
    people = [i for i in range(len(nameFrame['Name']))]
    targets = []
    new = pd.DataFrame()
    n = len(people)
    while len(targets)<n:
        
        random = rd(0, n-1)
        if random in targets:
            continue
        else:
            targets += [random]
    namesArray = [nameFrame['Name'][i] for i in range(len(people))]
    targetNames = [nameFrame['Name'][targets[i]] for i in range(len(targets))]
    new['Name'] = namesArray
    new['Target'] = targetNames
    new['Phone #'] = nameFrame['Phone number']
    new['Eliminated?'] = [False for i in range(len(new['Name']))]
    save = new.to_csv('Targets.csv')
    return new

def sendText(nameFrame):
    textsList = []
    for i in range(len(nameFrame['Name'])):
        name = nameFrame['Name'][i]
        target = nameFrame['Target'][i]
        number = nameFrame['Phone #'][i]
        text = f'Your target for this round of Assassin is {target}. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'
        textsList += [(name, number, text)]
    return textsList

In [4]:
nameFrame = generateTargets(names_csv)
#nameFrame['Eliminated'] = [False for i in range(len(nameFrame['Name']))]
names = [nameFrame.reset_index()['Name'][i].split(' ')[0] for i in range(len(targets))]
nameFrame['Target'] = targets
nameFrame['Eliminated by'] = ['Nan' for i in range(len(targets))]
nameFrame['Name'] = names
nameFrame.to_csv('targets.csv')

NameError: name 'names_csv' is not defined

In [65]:
sendText(nameFrame)

[('Bridget',
  '3092214810',
  'Your target for this round of Assassin is Ninawa. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'),
 ('Matas',
  '6303452298',
  'Your target for this round of Assassin is Lucca. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'),
 ('Braden',
  '(630) 200-1330',
  'Your target for this round of Assassin is Jose. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'),
 ('Jose',
  '13126100280',
  'Your target for this round of Assassin is Bridget. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'),
 ('Lucca',
  '7082449244',
  'Your target for this round of Assassin is Adam. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'),
 ('Adam',
  '7735635413',
  'Your target for this round of Assassin is Braden. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'),
 ('Ninawa',
  '6309306658',
  'Your target for this round of Assassin is Matas. Make sure to send me a pic of your eliminated target if you take them out. Good luck.')]

In [60]:
#for i in range(len(nameFrame['Name'])):
    #if nameFrame['Eliminated?'][i] == True:
        #nameFrame = nameFrame.drop(i)
#nameFrame['Eliminated?'][15] = True
#nameFrame['Eliminated by'][15] = 'Time'
#nameFrame['Kills'][7] += 1
nameFrame['Target'][1] = "Lucca"
nameFrame.to_csv('csv/targets2.csv')
nameFrame

C:\Users\JC\AppData\Local\Temp/ipykernel_9288/2339985071.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nameFrame['Target'][1] = "Lucca"

          Name   Target         Phone #  Eliminated? Eliminated by  Kills
index
0      Bridget   Ninawa      3092214810        False           Nan      1
1        Matas    Lucca      6303452298        False           Nan      1
2       Braden     Jose  (630) 200-1330        False           Nan      1
3         Jose  Bridget     13126100280        False           Nan      1
4        Lucca     Adam      7082449244        False           Nan      1
5         Adam   Braden      7735635413        False           Nan      2
6       Ninawa    Matas      6309306658        False           Nan      1

In [70]:
publicNameFrame = nameFrame
publicNameFrame = publicNameFrame.drop('Target', axis= 1)
publicNameFrame = publicNameFrame.drop('Phone #', axis= 1)
publicNameFrame = publicNameFrame.drop('Eliminated by', axis= 1)
publicNameFrame = publicNameFrame.iloc[:,[0,2,1]]

for i in range(len(publicNameFrame['Eliminated?'])):
    pnf = publicNameFrame['Eliminated?']
    if pnf[i] == False:
        pnf[i]='No'
    else:
        pnf[i] = 'Yes'
        
publicNameFrame['Eliminated?'] = pnf

publicNameFrame = publicNameFrame.set_index('Name')
publicNameFrame = publicNameFrame.sort_values(by = ['Kills', 'Eliminated?'], ascending = [False, True], na_position = 'first')
publicNameFrame.to_csv('csv/killcount.csv')
#publicNameFrame.to_csv()
publicNameFrame

C:\Users\JC\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

         Kills Eliminated?
Name
Adam         2          No
Bridget      1          No
Matas        1          No
Braden       1          No
Jose         1          No
Lucca        1          No
Ninawa       1          No
David        1         Yes
James        0         Yes
Melissa      0         Yes
Maria        0         Yes
Tyler        0         Yes
Derrick      0         Yes
Ryan         0         Yes
Percy        0         Yes
Arianna      0         Yes
Lauren       0         Yes
Sandin       0         Yes
Anna         0         Yes
Anna         0         Yes
Gerardo      0         Yes
Patrick      0         Yes

Good job on eliminating someone. Your current kill count is X. Your new target is XXX. Good luck.

Hello. Round 1 is scheduled to end on Monday 11:59PM. This leaves you with the entire weekend + 1 day of classes. Your kill count will need to be above 1 by the scheduled date. The live kill count can be found at jcrayb.com/assassin. Good luck.

Round 1 is officially over. Congrats on making it to round 2! New targets will be assigned shortly.

Round 1 is officially over. Unfortunately, your killcount is still 0... so you have been eliminated.