In [30]:
import pandas as pd
from random import randint as rd

In [57]:
names_csv = pd.read_csv('names.csv')
names_csv = names_csv.drop('Timestamp', axis= 1)
names_csv = names_csv.drop('Email Address', axis=1)
#names_csv

In [58]:
def generateTargets(nameFrame):
    people = [i for i in range(len(nameFrame['Name']))]
    targets = []
    new = pd.DataFrame()
    n = len(people)
    while len(targets)<n:
        
        random = rd(0, n-1)
        if random in targets:
            continue
        else:
            targets += [random]
    namesArray = [nameFrame['Name'][i] for i in range(len(people))]
    targetNames = [nameFrame['Name'][targets[i]] for i in range(len(targets))]
    new['Name'] = namesArray
    new['Target'] = targetNames
    new['Phone #'] = nameFrame['Phone number']
    new['Eliminated?'] = [False for i in range(len(new['Name']))]
    save = new.to_csv('Targets.csv')
    return new

def sendText(nameFrame):
    textsList = []
    for i in range(len(nameFrame['Name'])):
        name = nameFrame['Name'][i]
        target = nameFrame['Target'][i]
        number = nameFrame['Phone #'][i]
        text = f'Hello, this is Chris, social coordinator for ITFC. Your target for this round of Assassin is {target}. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'
        textsList += [(name, number, text)]
    return textsList

In [68]:
nameFrame = generateTargets(names_csv)
#nameFrame['Eliminated'] = [False for i in range(len(nameFrame['Name']))]
names = [nameFrame.reset_index()['Name'][i].split(' ')[0] for i in range(len(targets))]
nameFrame['Target'] = targets
nameFrame['Eliminated by'] = ['Nan' for i in range(len(targets))]
nameFrame['Name'] = names
nameFrame.to_csv('targets.csv')

In [21]:
sendText(nameFrame)
targets = ['Melissa', 'Tyler', 'Sandin', 'David', 'James', 'Matas', 'Percy', 'Anna Z.', 'Derick', 'Jose', 'Braden', 'Arianna', 'Ryan', 'Maria', 'Lauren', 'Lucca', 'Bridget', 'Adam', 'Patrick', 'Anna J.', 'Ninawa', 'GP']

In [77]:
#nameFrame['Eliminated?'][13] = True
nameFrame[]
nameFrame.to_csv('targets.csv')
nameFrame

       Name   Target         Phone #  Eliminated? Eliminated by
0   Bridget  Melissa      3092214810        False           Nan
1     James    Tyler      7325132460        False           Nan
2     David   Sandin    815-236-7287        False           Nan
3     Matas    David      6303452298        False           Nan
4   Melissa    James      2243876508        False           Nan
5     Maria    Matas    331-980-5854        False           Nan
6    Braden    Percy  (630) 200-1330        False           Nan
7      Jose  Anna Z.     13126100280        False           Nan
8     Lucca   Derick      7082449244        False           Nan
9     Tyler     Jose    331-213-6547        False           Nan
10  Derrick   Braden      7082087634        False           Nan
11     Ryan  Arianna      3312290458         True          Adam
12     Adam     Ryan      7735635413        False           Nan
13    Percy    Maria      9176357252         True        Braden
14  Arianna   Lauren      8155402295        False           Nan
15   Lauren    Lucca      3128353851        False           Nan
16   Sandin  Bridget    773-983-7037        False           Nan
17     Anna     Adam      3095334809        False           Nan
18     Anna  Patrick    312-825-3630        False           Nan
19  Gerardo  Anna J.      7739790502        False           Nan
20  Patrick   Ninawa      2246889649        False           Nan
21   Ninawa       GP      6309306658        False           Nan