In [3]:
import pandas as pd
from random import randint as rd

In [8]:
#nameFrame = pd.read_csv('targets.csv')
#nameFrame = nameFrame.drop("Unnamed: 0", axis=1)

       Name   Target         Phone #  Eliminated? Eliminated by  Kills
0   Bridget  Melissa      3092214810        False           Nan      0
1     James    Tyler      7325132460        False           Nan      0
2     David   Sandin    815-236-7287        False           Nan      0
3     Matas    David      6303452298        False           Nan      0
4   Melissa    James      2243876508        False           Nan      0
5     Maria    Matas    331-980-5854        False           Nan      0
6    Braden    Percy  (630) 200-1330        False           Nan      0
7      Jose  Anna Z.     13126100280        False           Nan      0
8     Lucca   Derick      7082449244        False           Nan      0
9     Tyler     Jose    331-213-6547        False           Nan      0
10  Derrick   Braden      7082087634        False           Nan      0
11     Ryan  Arianna      3312290458         True          Adam      0
12     Adam     Ryan      7735635413        False           Nan      0
13    Percy    Maria      9176357252         True        Braden      0
14  Arianna   Lauren      8155402295        False           Nan      0
15   Lauren    Lucca      3128353851        False           Nan      0
16   Sandin  Bridget    773-983-7037        False           Nan      0
17     Anna     Adam      3095334809        False           Nan      0
18     Anna  Patrick    312-825-3630        False           Nan      0
19  Gerardo  Anna J.      7739790502        False           Nan      0
20  Patrick   Ninawa      2246889649        False           Nan      0
21   Ninawa       GP      6309306658        False           Nan      0

In [5]:
def generateTargets(nameFrame):
    people = [i for i in range(len(nameFrame['Name']))]
    targets = []
    new = pd.DataFrame()
    n = len(people)
    while len(targets)<n:
        
        random = rd(0, n-1)
        if random in targets:
            continue
        else:
            targets += [random]
    namesArray = [nameFrame['Name'][i] for i in range(len(people))]
    targetNames = [nameFrame['Name'][targets[i]] for i in range(len(targets))]
    new['Name'] = namesArray
    new['Target'] = targetNames
    new['Phone #'] = nameFrame['Phone number']
    new['Eliminated?'] = [False for i in range(len(new['Name']))]
    save = new.to_csv('Targets.csv')
    return new

def sendText(nameFrame):
    textsList = []
    for i in range(len(nameFrame['Name'])):
        name = nameFrame['Name'][i]
        target = nameFrame['Target'][i]
        number = nameFrame['Phone #'][i]
        text = f'Hello, this is Chris, social coordinator for ITFC. Your target for this round of Assassin is {target}. Make sure to send me a pic of your eliminated target if you take them out. Good luck.'
        textsList += [(name, number, text)]
    return textsList

In [68]:
nameFrame = generateTargets(names_csv)
#nameFrame['Eliminated'] = [False for i in range(len(nameFrame['Name']))]
names = [nameFrame.reset_index()['Name'][i].split(' ')[0] for i in range(len(targets))]
nameFrame['Target'] = targets
nameFrame['Eliminated by'] = ['Nan' for i in range(len(targets))]
nameFrame['Name'] = names
nameFrame.to_csv('targets.csv')

In [21]:
sendText(nameFrame)
targets = ['Melissa', 'Tyler', 'Sandin', 'David', 'James', 'Matas', 'Percy', 'Anna Z.', 'Derick', 'Jose', 'Braden', 'Arianna', 'Ryan', 'Maria', 'Lauren', 'Lucca', 'Bridget', 'Adam', 'Patrick', 'Anna J.', 'Ninawa', 'GP']

In [23]:
#nameFrame['Eliminated?'][13] = True
#nameFrame['Kills'][12] = 1
nameFrame['Target'][6] = 'Maria'
nameFrame.to_csv('targets.csv')
nameFrame

C:\Users\chris\AppData\Local\Temp\ipykernel_18252\1549926888.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nameFrame['Target'][6] = 'Maria'

       Name   Target         Phone #  Eliminated? Eliminated by  Kills
0   Bridget  Melissa      3092214810        False           Nan      0
1     James    Tyler      7325132460        False           Nan      0
2     David   Sandin    815-236-7287        False           Nan      0
3     Matas    David      6303452298        False           Nan      0
4   Melissa    James      2243876508        False           Nan      0
5     Maria    Matas    331-980-5854        False           Nan      0
6    Braden    Maria  (630) 200-1330        False           Nan      1
7      Jose  Anna Z.     13126100280        False           Nan      0
8     Lucca   Derick      7082449244        False           Nan      0
9     Tyler     Jose    331-213-6547        False           Nan      0
10  Derrick   Braden      7082087634        False           Nan      0
11     Ryan        -      3312290458         True          Adam      0
12     Adam  Arianna      7735635413        False           Nan      1
13    Percy        -      9176357252         True        Braden      0
14  Arianna   Lauren      8155402295        False           Nan      0
15   Lauren    Lucca      3128353851        False           Nan      0
16   Sandin  Bridget    773-983-7037        False           Nan      0
17     Anna     Adam      3095334809        False           Nan      0
18     Anna  Patrick    312-825-3630        False           Nan      0
19  Gerardo  Anna J.      7739790502        False           Nan      0
20  Patrick   Ninawa      2246889649        False           Nan      0
21   Ninawa       GP      6309306658        False           Nan      0

In [58]:
publicNameFrame = nameFrame
publicNameFrame = publicNameFrame.drop('Target', axis= 1)
publicNameFrame = publicNameFrame.drop('Phone #', axis= 1)
publicNameFrame = publicNameFrame.drop('Eliminated by', axis= 1)
publicNameFrame = publicNameFrame.iloc[:,[0,2,1]]

for i in range(len(publicNameFrame['Eliminated?'])):
    pnf = publicNameFrame['Eliminated?']
    if pnf[i] == False:
        pnf[i]='No'
    else:
        pnf[i] = 'Yes'
        
publicNameFrame['Eliminated?'] = pnf

publicNameFrame = publicNameFrame.set_index('Name')
publicNameFrame = publicNameFrame.sort_values(by = ['Kills', 'Eliminated?'], ascending = [False, True], na_position = 'first')
publicNameFrame.to_csv('killcount.csv')
publicNameFrame.to_csv()
#publicNameFrame

'Name,Kills,Eliminated?\r\nBraden,1,No\r\nAdam,1,No\r\nBridget,0,No\r\nJames,0,No\r\nDavid,0,No\r\nMatas,0,No\r\nMelissa,0,No\r\nMaria,0,No\r\nJose,0,No\r\nLucca,0,No\r\nTyler,0,No\r\nDerrick,0,No\r\nArianna,0,No\r\nLauren,0,No\r\nSandin,0,No\r\nAnna,0,No\r\nAnna,0,No\r\nGerardo,0,No\r\nPatrick,0,No\r\nNinawa,0,No\r\nRyan,0,Yes\r\nPercy,0,Yes\r\n'